@keyframes fadein {
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes otherfadein {
    from{
        transform: translateX(-10px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes minefadein {
    from{
        transform: translateX(10px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.chatting-room__talking{
    animation: otherfadein 0.5s linear;
}

.chatting-room__talking__mine{
    animation: minefadein 0.5s linear;
}

.chatting-room__background{
    background-color: #ABC1D1;
    height: 1000vh;
}
.chatting-room__time{
    display: flex;
    width: 180px;
    height: 30px;
    font-size: 15px;
    font-weight: 50;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.chatting-room__first{
    animation: fadein 0.5s linear;
    display: flex;
    justify-content: center;
    width: 96vw;
}
.chatting-room__img{
    width: 40px;
    height: 40px;
    border-radius: 13px;
    padding-right:5px ;
}
.chatting-room__talk, .chatting-room__talk__mine{
    display: flex;
    flex-direction:column;
    padding-right: 5px;
}
.chatting-room__talking, .chatting-room__talking__mine{
    display: flex;
    padding: 25px 15px;
    padding-bottom: 0;
}
.chatting-room__name{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.432);
    padding-bottom: 8px;
    font-weight: 600;
}
.chatting-room__sending-time{
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    font-weight: 600;
}
.chatting-room__components, .chatting-room__components__mine{
    padding: 10px;  
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
}

.chatting-room__components{
    border-top-left-radius: 0px;
    background-color: white;
}

.chatting-room__components__mine{
    background-color: #FEE500;
    border-top-right-radius: 0px;
}

.chatting-room__talk__mine{
    padding-left: 5px;
}
.chatting-room__talking__mine{
    justify-content: flex-end;
}