.find-icons{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    border-bottom: var(--main-border);
}
.find-icons__icon{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.find-icons__icon__text{
    font-weight: 600;
    padding-top: 30px;
}

.recommended-Friends{
    padding: 0px 23px;
    color: rgba(0, 0, 0, 0.5);
}
.recommended-Friends__title{
    color: rgba(0, 0, 0, 0.5);
}
.recommended-Friends__flex{
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    border-bottom: var(--main-border);
}
.recommended-Friends__center{
    font-size: 18px;
}