/*내가 다만듬 여긴*/
.find-icons{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    border-bottom: var(--main-border);
}
.find-icons__icon{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.find-icons__icon__text{
    font-weight: 600;
    padding-top: 30px;
}

.recommended-Friends{
    padding: 0px 23px;
    color: rgba(0, 0, 0, 0.5);
}
.recommended-Friends__title{
    color: rgba(0, 0, 0, 0.5);
}
.recommended-Friends__flex{
    display: flex;
    padding: 80px 0px;
    justify-content: center;
    border-bottom: var(--main-border);
}
.recommended-Friends__center{
    font-size: 18px;
}
.open-chat{
    padding: 20px 25px;
}
.open-chat__main{
    display: flex;
    justify-content: space-between;
}
.open-chat__title{
    color: rgba(0, 0, 0, 0.5);
}
.open-chat__home{
    color: rgba(0, 0, 0, 0.3);
}
.open-chat__img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.open-chat__rooms{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.open-chat__room__column{
    padding: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.open-chat__rooms__tag{
    display: block;
    margin: 10px 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}
.open-chat__rooms__title{
    font-weight: 700;
}
.open-chat__mem__img{
    width: 20px;
    height: 20px;
    border-radius: 8px;
}
.open-chat__rooms__num{
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    height: 15px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 800;
}
.open-chat__rooms__mem{
    display: flex;
    align-items: center;
    height: 20px;
    color: rgba(0, 0, 0, 0.3);
}
.open-chat__rooms__online{
    padding: 0 10px;
    color:hotpink
}

.open-chat__img__heart{
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 10px;
    padding: 3px 5px;
}
.open-chat__img__heart__num{
    font-size: 15px;
}

@keyframes heartbeat {
    0%{
        color: black;
        transform: none;
    }
    50%{
        color:red;
        transform: scale(1.5);
    }
    100%{
        color: black;
        transform: none;
    }   
}
.open-chat__img__heart i:hover{
    will-change: transform;
    animation: heartbeat 1s linear infinite;
}
