.new-screen-header{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    top: 30px;
}
.new-screen-header-title{
    font-size: 25px;
    margin-left: auto;
    width: 33%;
    text-align: center;
}
.new-screen-header i:last-child{
    margin-left: auto;
}
.new-screen-header span{
    margin-left: auto;
}
.new-screen-header__margin{
    margin-right:20px;
}
.new-screen-header-right{
    width: 33%;
    text-align: end;
}
.new-screen-header__back{
    width: 33%;
}