.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}
.screen-header__title{
    font-size: 28px;
    font-weight: 1000;
    display: flex;
}
.screen-header__icons i{
    margin-left: 25px;
}
.screen-header__bottom-space{
    margin-bottom: 15px;
}
.new-screen-header__color{
    background-color: #ABC1D1;
}

@keyframes gearspin {
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(180deg);
    }
}

.fa-gear:hover{
    animation: gearspin 1s linear infinite;
}